body { font-size: 20px; }
 
.home { background: #06e089; color: #FFF; }
.home .about-author { background: #05b16c; text-align: center; padding-top:15px; padding-bottom:15px; }

.home .about-author .site-logo { 
    margin-top: 0;
    font-size: 20px;
    z-index: 99;
    position: relative;
}
.home a {
    color: #FFF; 
} 
.home .about-author .img-hover-zoom {  
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0; 
    margin-bottom: 2em;
    border: solid #FFF 5px;
    overflow: hidden;
    width: 200px;
    height: 200px;  
    position: relative;
} 
.home .about-author .img-hover-zoom img { 
    height: 100%;    
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out; 
} 
.home .about-author .img-hover-zoom:hover img.black { 
    height: 110%;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.home .about-author .img-hover-zoom:hover img.color { 
    height: 110%;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.home .about-author .btn.focus,
.home .about-author .btn:focus,
.home .about-author .btn:hover {
    color: #FFF;
}
/* text-hover underline effect */
.home a { position: relative; padding-bottom: 5px; }
.home a:hover, .home a:focus  { text-decoration: none; }
.home a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.home a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0; 
    background-color: #FFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.timeline {
    position: relative;
    margin: 0 auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.timeline h2 {
    margin: 0;
}
.timeline .timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline .timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.timeline .timeline-left {
    left: 0;
}
.timeline .timeline-right {
    left: 50%;
}
.timeline .timeline-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
.timeline .timeline-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.timeline .timeline-right::after {
    left: -12px;
}
.timeline .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    color: #000;
}
.timeline .content ul li {
    margin-bottom: 10px;
    border-bottom: solid 1px silver;
    padding-bottom: 10px;
}
.timeline .content ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
@media all and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .timeline .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .timeline .timeline-left::after, .timeline-right::after {
    left: 15px;
  }

  .timeline .timeline-right {
    left: 0%;
  }
}